parameters:
	level: 5
	treatPhpDocTypesAsCertain: false

	ignoreErrors:
		- identifier: arguments.count
		- identifier: argument.missing
		- identifier: staticMethod.dynamicCall
		- identifier: staticMethod.dynamicName
		- identifier: method.dynamicName
		- identifier: staticMethod.alreadyNarrowedType
		- identifier: method.alreadyNarrowedType

	paths:
		- ../api
	excludePaths:
	    analyse:
	        - ../api/vendor
